{{#partial "content"}}
    <nav class="navbar navbar-expand-lg text-light bg-success">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightingdetails/new">View Sighting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allanimals/new">View All Animals</a>
            </li>
        </ul>
    </div>
    </nav>

    <div class="container text-start mx-auto">

        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">

                <div class="col-md-8">
                    <div class="card-body">

                        <p class="card-text">


                        <p>Name: </p>

                        <p class="card-footer">
                        <p><a class="btn btn-danger justify-content-left" href="/squads/{{hero.squadId}}/heros/{{hero.id}}/delete">Kill {{hero.heroName}}</a> </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{{/partial}}

{{> "layout.hbs"}}