{{#partial "content"}}
    <nav class="navbar navbar-expand-lg text-light bg-success">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightingdetails/new">View Sighting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allanimals/new">View All Animals</a>
            </li>
        </ul>
    </div>
    </nav>

    <div class="view" style="background-image: url('/images/jaguar2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="indexRow">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4 white-text text-center">
                        <h3 class="h3-reponsive text-warning text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated wobble"><strong>Add Animal:  </strong></h3>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="content">
                                    <h3 class="text-center">Add Animal</h3>

                                    <form action="/sightingdetails/new" method="post">
                                        <div class="form-group">
                                            <label for="animalName">Name of the Animal:</label>
                                            <select id="animalName" name="animalName" type="text" class="form-control transparentInputFields">
                                                <option value="Lion">Lion</option>
                                                <option value="Hyena">Hyena</option>
                                                <option value="Cheetah">Cheeteah</option>
                                                <option value="Leopard">Leopard</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="location">Location:</label>
                                            <select id="location" name="location" type="text" class="form-control transparentInputFields">
                                                <option value="Zone A">Zone A</option>
                                                <option value="Zone B">Zone B</option>
                                                <option value="Zone C">Zone C</option>
                                                <option value="Zone D">Zone D</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="rangerName">Ranger Name:</label>
                                            <input type="text" name="rangerName" class="form-control transparentInputFields">
                                        </div>
                                        <button class="btn btn-info " type="submit" name="add-animal">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->



{{/partial}}

{{> "layout.hbs"}}